.navbar {
 width: 1650px;
  margin: auto;
  padding: 20px;
  background-color: #3d1e19;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffab40;
}
.auth-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn {
  padding: 6px 12px;
  background-color: #6c4f3d;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.nav-btn.logout {
  background-color: #b83232;
}

.user-email {
  font-weight: bold;
  color: #333;
}

