*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
}
.navbar {
  margin: auto;
  padding: 20px;
  background-color: #3d1e19;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffab40;
}
